<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Be_faster.Be_faster" android:versionCode="1" android:versionName="1.0" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="Be_faster" android:icon="@drawable/Icon"></application>
</manifest>